.jumbotron {
    background-color: orangered;
    color: white;
    margin-top: 50px;
}

footer {
    padding: 20px 20px 0px 20px;
    background-color: rgb(6, 54, 68);
    margin-bottom: 0px;
    margin-top: 10px;
    color:white;
}

.card-hotel {
    flex: 1 150px;
    margin-top: 10px;
   
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    background-color: green;
    color:white
    
}

.btn {
    background-color: green;
}

.footer-address-icon {
    padding-right: 10px;

}

.fa-hotel {
    padding-right: 10px;
}

.fa-paper-plane {
    padding-right: 10px;
    
}

.fa-hotel {
    padding-right: 10px;
}

.footer-copyright {
    padding-top: 5px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.fa-star {
    color: #FFAB00
}

.tab-content {
    padding-top: 10p;
}
.btn-link {
    background-color: azure;
}

